<!DOCTYPE html>
<html lang="en">
<head>
    {{> head}}

    <!-- Google Analytics -->
 <script async src="https://www.googletagmanager.com/gtag/js?id=G-KVDQ13RXMY"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-KVDQ13RXMY');
</script>
</head>
<body>
    {{> pagecontent}}
    {{> footer}}
</body>
</html>
